<%- include('../partials/invoicehead') %>
<div class="container mt-4 text-center">
    <hr>
    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th scope="col">Customer Name</th>
                <th scope="col">Item Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td> <%= data.User.name() %> </td>
                <td> <%= data.Item.name %> </td>
                <td> <%= data.quantity %> </td>
                <td> <%= `${idrFormat(data.price)}`%> </td>
                <td> <%= `${idrFormat(data.total)}` %> </td>
            </tr>
        </tbody>
    </table>
    <p>Terima kasih atas kunjungan anda</p>
</div>
<%- include('../partials/footer') %>