<%- include('../partials/header') %>
<div class="container mt-4 text-center">
        <% if (data) { %> 
        <form action="/items/edit/<%= data.id %>" method="POST">
            <div class="form-group">
                <label for="name">Item Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Item Name" value="<%= data ? data.name :'' %>">
                <label for="price">Price</label>
                <input type="number" name="price" class="form-control" id="price" placeholder="Price" value="<%= data ? data.price :'' %>">
                <label for="quantity">Quantity</label>
                <input type="number" name="quantity" class="form-control" id="quantity" placeholder="Quantity" value="<%= data ? data.quantity :'' %>">
                <label for="type">Type</label>
                <input type="text" name="type" class="form-control" id="type" placeholder="Type" value="<%= data ? data.type :'' %>">
                <label for="exp_date">Type</label>
                <input type="date" name="exp_date" class="form-control" id="exp_date" placeholder="Expire Date" value="<%= data ? data.exp_date :'' %>">
                <br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <%} else { %> 
            <form action="/items/add" method="POST">
                <div class="form-group">
                    <label for="name">Item Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Item Name">
                    <label for="price">Price</label>
                    <input type="number" name="price" class="form-control" id="price" placeholder="Price">
                    <label for="quantity">Quantity</label>
                    <input type="number" name="quantity" class="form-control" id="quantity" placeholder="Quantity">
                    <label for="type">Type</label>
                    <input type="text" name="type" class="form-control" id="type" placeholder="Type" ">
                    <label for="exp_date">Type</label>
                    <input type="date" name="exp_date" class="form-control" id="exp_date" placeholder="Expire Date">
                    <br>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        <% } %> 
</div>
<%- include('../partials/footer') %> 