<%- include('../partials/header') %>
<div class="container mt-4">
    <div class="container mb-4 text-center"> 
        <a class="btn btn-success" href="/users/add">Add New User</a><br><br>
        <form action="/users" method="GET">
            <div class="form-group">
                <input type="text" class="form-control" id="search" placeholder="name" name="search"><br>
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="text-center">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Password</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% for( let i = 0; i < data.length; i++ ) { %>
            <tr class="text-center">
                <td> <%= i+1%> </td>
                <td> <%= data[i].name() %> </td>
                <td> <%= data[i].username %> </td>
                <td> <%= `${passwordHider(data[i].password)}` %> </td>
                <td>
                    <a href="/users/edit/<%= data[i].id %> " class="btn btn-warning"> Edit </a>     
                    <a href="/users/delete/<%= data[i].id %> " class="btn btn-danger"> Delete </a>
                </td>
            </tr>
                <% } %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>